global
    maxconn 4000


defaults
	log     global
	mode    http
	#option  httplog
	option  httpslog
	option  dontlognull

	option http-keep-alive
	option prefer-last-server
	option redispatch

	no option httpclose

	balance leastconn
	#option forwardfor except 127.0.0.0/8
 
	default-server inter 5s rise 2 fall 3

	retries 3
	timeout client 600s
	timeout http-request 10s
	timeout connect 10s
	timeout http-keep-alive 30m
	timeout queue           1m
	timeout client          15m # this value should be rather high with Exchange
	timeout server          15m # this value should be rather high with Exchange
	timeout http-keep-alive 10s
	timeout check           10s

	#    maxconn                 100000
	option h1-case-adjust-bogus-client



        #-----------------------
        # Webblog FrontEnd Begins
        # -------------------

frontend blog_front
        bind *:80 name http


    	stats enable
	    stats uri /haproxy?stats
	    stats refresh 5s
	    stats show-legends
	    stats realm Haproxy\ Statistics
	    stats realm Strictly\ Private
	    stats auth admin:cnfnbcnbrf 

	#---------------------------------------------------------------------
	#HAProxy Monitoring Config
	#---------------------------------------------------------------------

	    http-response set-header X-Frame-Options SAMEORIGIN
	    http-response set-header X-Content-Type-Options nosniff
	    http-response set-header Strict-Transport-Security max-age=63072000

        mode http
	    maxconn 4000

        capture request header Host len 32
	    capture request header Referer len 128
	    capture request header User-Agent len 128
        capture request  header X-Request-UID len 500
        capture response header Content-Length len 100
#	log-format "%si:%sp\ %ci\ [%t]\ \"%r\"\ %ST\ %B\ \"%hr\" \"%hs\""

#        option httpchk
#        http-check expect status 200   

	# ACL Check a site
        acl url_blog path_beg -i /
        use_backend blog_back if url_blog
        default_backend blog_back

#backend blog_back
#        mode http
#        balance roundrobin
#        server otus-nodeweb-1 10.110.0.10:80 check
#        server otus-nodeweb-2 10.110.0.11:80 check
#        server otus-nodeweb-3 10.110.0.12:80 check

backend blog_back
        mode http
        balance source
{% for host in frontend_server_ips %}   
        server {{ host }} {{ host }}:{{ nginx_upstream_port}} check
{% endfor %}   

# check config 
# haproxy -c -V -f /etc/haproxy/haproxy.cfg


