input {
  beats {
    port => 5044
  }
}

filter {
 if [type] == "nginx_access" {
    grok {
        match => { "message" => "%{IPORHOST:remote_ip} - %{DATA:user} \[%{HTTPDATE:access_time}\] \"%{WORD:http_method} %{DATA:url} HTTP/%{NUMBER:http_version}\" %{NUMBER:response_code} %{NUMBER:body_sent_bytes} \"%{DATA:referrer}\" \"%{DATA:agent}\"" }
    }
  }
  date {
        match => [ "timestamp" , "dd/MMM/YYYY:HH:mm:ss Z" ]
  }
  geoip {
        source => "remote_ip"
        target => "geoip"
        database => "/etc/logstash/GeoLite2-City.mmdb"
        add_tag => [ "nginx-geoip" ]
  }



  if [type] == "haproxy_access" {
     grok {
          match => ["message",  "%{HAPROXYHTTP}"]
          }
     grok {
          match => ["message", "%{HAPROXYDATE:accept_date}"]
          }
     date {
          match => ["accept_date", "dd/MMM/yyyy:HH:mm:ss.SSS"]
          }
    #  if [host] == "varnish1" {
    #             mutate {
    #                     add_field => { "SrvName" => "varnish2" }
    #                     }
    #                                     }
     geoip {
          source => "client_ip"
          target => "geoip"
          database => "/etc/logstash/GeoLite2-City.mmdb"
          add_tag => [ "haproxy-geoip" ]          
       }
    }

}


output {
        elasticsearch {
            hosts    => "https://localhost:9200"
            index    => "websrv-%{+YYYY.MM}"
	    user => "elastic"
	    password => "{{ elastic_password }}"
	    cacert => "/etc/logstash/certs/http_ca.crt"
        }
}

