table ip filter {
	chain INPUT {
		type filter hook input priority filter; policy drop;
		ct state established,related counter packets 90 bytes 3744 accept
		ct state new tcp dport 22 counter packets 0 bytes 0 accept comment "SSH"
        tcp dport {22} counter accept
        ip saddr 10.200.0.0/24 counter accept comment "MANAGEMENTNET"		
		ip protocol icmp accept
		iifname "lo" counter packets 0 bytes 0 accept
		ct state new tcp dport 80 counter packets 0 bytes 0 accept comment "HTTP"
		ct state new tcp dport 443 counter packets 0 bytes 0 accept comment "HTTPS"
		ct state new tcp dport 7000 counter packets 0 bytes 0 accept comment "haproxy"


	}

	chain FORWARD {
		type filter hook forward priority filter; policy accept;
	}

	chain OUTPUT {
		type filter hook output priority filter; policy accept;
	}
}