    server {
        listen       {{ nginx_listen_port }} default_server;
        server_name  {{ nginx_server_name }};
        root         {{ nginx_app_folder }}/;

        index index.php index.html index.htm;

    
    	location / {
		# First attempt to serve request as file, then
		# as directory, then fall back to displaying a 404.
		#try_files $uri $uri/ =404;
		try_files $uri $uri/ /index.php$is_args$args;
	}

        location /index.html {

        }


		location = /favicon.ico { log_not_found off; access_log off; }
		location = /robots.txt { log_not_found off; access_log off; allow all; }
		location ~* \.(css|gif|ico|jpeg|jpg|js|png)$ {
			expires max;
			log_not_found off;
		}

		# pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
		location ~ \.php$ {
			try_files $uri =404;
			include /etc/nginx/fastcgi_params;
			fastcgi_read_timeout 3600s;
			fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
			fastcgi_pass unix:/run/php/php-fpm.sock;
			fastcgi_split_path_info ^(.+\.php)(/.+)$;
			fastcgi_index index.php;
		}



    }



