<!DOCTYPE html>
<html>
<head>
<title>REPOYC - {{ ansible_host }}</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body>
<h1>REPOYC</h1>

<p>REPOSITORIES - {{ ansible_host }}
<br>
<br>
<ul>
<li>
<a href="/public">PUBLIC REPOSITORY</a>.<br/>
</li>
<br>
<li>
<a href="private">PRIVATE REPOSITORY</a></p>
</li>
</ul>
<p><em></em></p>
</body>
</html>
